* {
    font-size: Helvetica;
}

#baner, footer {
    background-color: rgb(70, 130, 180);
    color: white;
    height: 30px;
    text-align: center;
    clear: both;
}

#main {
    background-color: rgb(176, 196, 222);
    color: white;
    padding: 50px;
    text-align: center;
}

#lewy {
    background-color: rgb(70, 130, 180);
    color: white;
    height: 300px;
    width: 80%;
    float: left;
}

#prawy {
    background-color: rgb(70, 130, 180);
    color: white;
    height: 300px;
    width: 20%;
    float: left;
}

#lan {
    padding: 3px;
    border: 1px blue dashed;
    border-radius: 10px;
}

.zdj {
    height: 40%;
}

.zdj:hover {
    border: 1px solid white;
}

.serce {
    background-image: url(./icon-on.png);
}